@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";
@import "variables.scss";

body {
    font-family: Raleway, Helvetica Neue, sans-serif;
  }
button {
  border: none;
  background: none;
  outline: none;
}
.section_title {
  font-weight: 800;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: $black;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  @include media(">tablet") {
    font-size: 24px;
    line-height: 28px;
  }
}